[user]
    name = Sascha Roloff
    email = sascha.roloff@gmail.com

[credential]
    username = sisarolo
    helper = "cache --timeout=900"

[alias]
    unstage = reset HEAD --
    unmodify = checkout --
    last = log -1 HEAD
    list = log --pretty=oneline --abbrev-commit
    glog = log --all --pretty='format:%d %Cgreen%h%Creset %an - %s' --graph

[push]
#    default = simple

[core]
#    pager = cat # git diff
#    pager = less
#    filemode = false

[diff]
#    tool = meld # git difftool

[color]
#    ui = auto
#    ui = true
#    ui = always
